* {
	color: #bbbbbb;
	background-color: #222222;
	font-family: 'Helvetica', 'Arial', sans-serif;
}
h2,
h3 {
	text-align: center;
	line-height: 2vh;
}
h2 {
	font-size: 2em;
	font-family: 'Pacifico', cursive;
}
h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	line-height: 1vh;
	letter-spacing: 1ch;
}
.container {
	display: flex;
	justify-content: space-around;
	height: 50vh;
}
.pegbox {
	width: 30vw;
	height: 100%;
	text-align: center;
	font-weight: 900;
	vertical-align: middle;
}
.roundy {
	box-sizing: border-box;
	border-radius: 3vw;
	border: 1px solid #d96685;
	transition: border 100ms ease;
	transition: border-radius 100ms ease;
}
