* {
	color: #bbbbbb;
	background-color: #222222;
	font-family: 'Helvetica', 'Arial', sans-serif;
}
h2,
h3 {
	text-align: center;
	line-height: 2vh;
}
h2 {
	font-size: 2em;
	font-family: 'Pacifico', cursive;
}
h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	line-height: 1rem;
}
board {
	display: flex;
	margin: 5vh auto;
}
.container {
	display: flex;
	justify-content: space-around;
	height: 50vh;
}
.pegbox {
	width: 27vw;
	height: 100%;
	margin: 1vw;
	text-align: center;
	font-weight: 900;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	padding: 1vw;
	/* align-content: center; */
}
.bases {
	width: 23vw;
	height: 2vw;
	background-color: black;
	border-radius: 2vw;
}
.discs {
	width: 21vw;
	height: 2vw;
	border-radius: 2vw;
}
main {
	display: flex;
}
/* body {
	display: flex;
	flex-direction: column;
} */
/* animations */

.roundy {
	box-sizing: border-box;
	border-radius: 3vw;
	border: 3px solid #d96685;
	transition: border 300ms ease;
	transition: border-radius 100ms ease;
}
.status {
	font-size: em;
}
#fadein {
	opacity: 1;
	transition: opacity 500ms ease;
}
#fadeout {
	opacity: 0;
	transition: opacity 500ms ease;
}
